/* Global Styles for Portfolio */
@import url("mini-tailwind.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* CSS variables */

:root {
  --primary-color: #5be8e8;
  --primary-color-faded: #459aa2;
  --background-dark: #050d18;
  --background-light: #081937;
  --background-test: rgb(6, 24, 56);
  --background-test2: #10203a;
  --background-light-transparent: rgba(6, 24, 56, 0.85);
  --background-test2-transparent: rgba(16, 32, 58, 0.85);
  --white-color: #ccd6f6;
  --gray-text: #a1a1a1;
  --gray-border: #555c66;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --header-height: 11vh; /* Height of the sticky header */
  --normal-text: 0.9rem;
  --small-text: 0.8rem;
  --x-small-text: 0.6rem;
}

/* Reset the CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General colors and fonts */
body {
  font-family: "Sora", sans-serif;
  background-color: var(--background-dark);
  color: var(--white-color);
  line-height: 1.5;
  font-size: var(--normal-text);
}

/* Heading fonts */

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.8rem;
  font-weight: var(--font-bold);
}

h2 {
  font-size: 1.4rem;
  font-weight: var(--font-semi-bold);
}

/* Main container */

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Sections */

section {
  scroll-margin-top: var(--header-height); /* Offset for the sticky header */
  width: 100%;
}

.section-content {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 1rem;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
}

#about {
  background-color: var(--background-test2);
  padding: 2rem 0;
}

#projects {
  background-color: var(--background-test2);
  padding: 2rem 0;
}

#contact {
  background-color: var(--background-test2);
  padding: 2rem 0;
}

/* Header and Footer */
header,
footer {
  text-align: center;
  padding: 20px 0;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */

header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem; /* 16px, 40px */
  background-color: var(--background-light-transparent);
  border-bottom: 1px solid var(--primary-color-faded);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

/* Button styles */

.button-primary,
.button-secondary {
  text-align: center;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--background-dark);
  border: none;
}

.button-secondary {
  background-color: inherit;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.button-primary:hover,
.button-secondary:hover {
  text-decoration: none;
}

.button-primary:hover {
  background-color: var(--primary-color-faded);
}

.button-secondary:hover {
  background-color: #1f4068;
}

@media (max-width: 768px) {
  .section-content {
    width: 90%; /* Wider for smaller screens */
  }

  header {
    display: none; /* NO HEADER on smaller screens */
  }

  section {
    scroll-margin-top: 0; /* Disable the offset for the sticky header (There is no header)*/
  }

  #intro {
    min-height: 100vh;
  }
}
