/* Global Styles for Portfolio */
@import url("mini-tailwind.css");

/* CSS variables */

:root {
  --primary-color: #5be8c7;
  --primary-color-faded: #45a29e;
  --background-dark: #050d18;
  --background-light: #061838;
  --background-light-transparent: rgba(6, 24, 56, 0.85);
  --white-color: #ccd6f6;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/* Reset the CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General colors and fonts */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-dark);
  color: var(--white-color);
  line-height: 1.6;
}

/* Main container */
main {
  max-width: 900px;
  margin: 0 auto;
}

/* Header and Footer */
header,
footer {
  text-align: center;
  padding: 20px 0;
}

/* Profile Image */
.profile-image {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: 0.25rem solid var(--primary-color);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--background-light-transparent);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Card styles */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #112240;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  max-width: 300px;
  margin: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.7rem;
}

.card-description {
  font-size: 1rem;
  color: #ccd6f6;
  margin-bottom: 1rem;
}

.card-buttons {
  display: flex;
  gap: 10px;
}

.card-button-primary,
.card-button-secondary {
  text-align: center;
  padding: 0.6rem 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.card-button-primary {
  background-color: var(--primary-color);
  color: var(--background-dark);
}

.card-button-secondary {
  background-color: var(--background-light);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.card-button-primary:hover,
.card-button-secondary:hover {
  text-decoration: none;
}

.card-button-primary:hover {
  background-color: var(--primary-color-faded);
}

.card-button-secondary:hover {
  background-color: #1f4068;
}

/* Work Experience Styles */

.experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.job {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.job-left .job-image {
  order: 1;
}

.job-left .job-content {
  order: 2;
}

.job-right .job-image {
  order: 2;
}

.job-right .job-content {
  order: 1;
}

.job-image {
  width: 15rem;
  height: auto;
  object-fit: cover;
  border-radius: 0.3rem;
}

.job-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.job-description {
  color: #ccd6f6;
  margin: 0.5rem 0;
}

.job-tech-icons {
  display: flex;
  gap: 0.5rem;
}

.job-tech-icons img {
  width: 30px;
  height: 30px;
}

/* Contact Styles */
.contact-form {
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;
}

.input-field:focus {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: var(--primary-color-faded);
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    gap: 0;
  }
}
