---

---

<section id="about">
  <h1>Tu Nombre</h1>
  <p>
    I’m a developer passionate about crafting accessible, responsive user
    interfaces that blend thoughtful design with robust engineering. My favorite
    work lies at the intersection of design and development, creating
    experiences that not only look great but are meticulously built for
    performance and usability.
  </p>

  <p>
    In the past, I've had the opportunity to travel to Norway and live an
    international experience with lots of people from different places &
    backgrounds. Additionally, I have a bachelor in computer science and have
    worked for Wa.Works, a norwegian startup, as a front-end developer and also
    for Mobbeel, a pioneer company in biometric solutions, as a frontend
    developer, combining different technologies like React, Angular, and Native
    TypeScript.
  </p>

  <p>
    When I'm not coding, I'm usually biking, reading, taking care of my little
    birds, or learning about health and nutrition. I'm also a big fan of
    personal development and I'm always looking for ways to improve myself and
    the world around me.
  </p>
</section>
