---

---

<section id="about">
  <p>
    I'm a developer passionate about building accessible, responsive interfaces
    that blend design and performance for a seamless user experience.
  </p>

  <div class="flex-container flex-row w-100">
    <img
      src="https://wallpaperaccess.com/full/3923347.jpg"
      alt="Bergen"
      width="300"
    />
    <div>
      <p>
        I had the opportunity to travel to Norway and live an international
        experience with lots of people from different places & backgrounds. I
        learnt a lot about different cultures and even how to cook different
        dishes from all over the world.
      </p>
    </div>
  </div>

  <div class="flex-container flex-row w-100">
    <div>
      <h3>The newbie of the year</h3>
      <p>
        I participated in ESN, the biggest student organization in Europe, where
        I had the opportunity to meet people from all over the world and
        organize events and trips. I also was called "The newbie of the year"
        for my dedication to the organization.
      </p>
    </div>
    <img
      src="https://esn.org/sites/default/files/news/images/website_link_picture.png"
      alt="Erasmus Student Network (ESN)"
      width="300"
    />
  </div>
</section>
