---
import { Icon } from "astro-icon/components";
import { LINKEDIN_URL } from "../consts";
---

<section id="contact" class="mt-5">
  <div class="flex-row gap-1">
    <div class="contact-info">
      <h1>Contact me</h1>
      <p>Don't be shy :)</p>

      <div class="flex-col gap-1 mt-2">
        <div class="flex-row gap-1">
          <Icon name="mail" size={24} />
          <a href="mailto:example@email.com">example@email.com</a>
        </div>

        <div class="flex-row gap-1">
          <Icon name="phone" size={24} />
          <a href="tel:+34640126115">+34 640 12 61 15</a>
        </div>

        <div class="flex-row gap-1">
          <Icon name="location-pin" size={24} />
          <span>Quintana de la Serena, Spain</span>
        </div>

        <div class="flex-row gap-1">
          <Icon name="linkedin" size={24} />
          <a href={LINKEDIN_URL} target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <form class="flex-col gap-1 align-center">
        <div class="flex-row gap-1 w-100">
          <input type="text" placeholder="Name" class="input-field" />
          <input type="email" placeholder="Email" class="input-field" />
        </div>
        <input type="text" placeholder="Subject" class="input-field w-100" />
        <textarea placeholder="Message" class="input-field textarea"></textarea>
        <button type="submit" class="button-primary w-50">Send Message</button>
      </form>
    </div>
  </div>
</section>

<style>
  .contact-info {
    flex: 1;
    min-width: 15rem;
  }

  .contact-form {
    flex: 1;
    min-width: 19rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .input-group {
    display: flex;
    gap: 12px;
  }

  .input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #555c66;
    border-radius: 0.4rem;
    background: #161b22;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .input-field::placeholder {
    font-family: Sora;
    font-size: 1em;
  }

  .input-field:focus {
    border-color: var(--primary-color);
    outline: none;
  }

  .textarea {
    height: 10rem;
    resize: vertical;
  }

  @media (max-width: 600px) {
    .form-group {
      flex-direction: column;
      gap: 0;
    }
  }
</style>
