---

---

<section id="contact">
  <h1>Contact</h1>
  <p>Feel free to reach out to me through any of the following platforms:</p>

  <ul>
    <li>
      <strong>Email:</strong> your.email@example.com
    </li>
    <li>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
        Your Profile
      </a>
    </li>
    <li>
      <strong>GitHub:</strong>
      <a href="https://github.com/yourgithub" target="_blank">Your GitHub</a>
    </li>
  </ul>
</section>
