---

---

<section id="courses">
  <h1>Courses</h1>
  <p>
    Here are some of the courses I've completed to expand my knowledge and
    skills.
  </p>

  <ul>
    <li>
      <strong>Full-Stack Web Development</strong> - Online Platform (Completion Year)
    </li>
    <li>
      <strong>Modern React with Redux</strong> - Udemy (Completion Year)
    </li>
    <li>
      <strong>JavaScript Algorithms and Data Structures</strong> - FreeCodeCamp (Completion
      Year)
    </li>
  </ul>
</section>
