---
import { Icon } from "astro-icon/components";
---

<section id="education">
  <div class="section-content">
    <h1>Knowledge & Tools</h1>
  </div>

  <div class="section-content-block">
    <div class="block-container">
      <!-- Education Block -->
      <div class="block">
        <h2 class="mb-1">Education 🎓</h2>
        <div class="entry">
          <h3>Software Engineer</h3>
          <p class="subtitle">University of Extremadura</p>
          <p class="date">(Sep 2019 - Jul 2023)</p>
        </div>
        <div class="entry">
          <h3>Erasmus Exchange Student</h3>
          <p class="subtitle">Høgskulen på Vestlandet</p>
          <p class="date">(Aug 2021 - Jun 2022)</p>
        </div>
      </div>

      <!-- Courses Block -->
      <div class="block">
        <h2 class="mb-1">Courses 📚</h2>
        <div class="entry">
          <h3>Learn React</h3>
          <p class="subtitle">Codecademy (2021)</p>
        </div>
        <div class="entry">
          <h3>Machine Learning with Keras</h3>
          <p class="subtitle">IBM (2022)</p>
        </div>
        <div class="entry">
          <h3>TypeScript sin fronteras</h3>
          <p class="subtitle">Udemy (2023)</p>
        </div>
        <div class="entry">
          <h3>Master en JavaScript</h3>
          <p class="subtitle">Victor Robles (2023)</p>
        </div>
      </div>

      <!-- Tech Stack Block -->
      <div class="block">
        <h2 class="mb-1">Tech Stack 🛠️</h2>
        <div class="mb-1">
          <h3 class="mt-05">Frontend</h3>
          <Icon name="tech-stack/react" size={32} title="React" />
          <Icon name="tech-stack/angular" size={32} title="Angular" />
          <Icon name="tech-stack/html5" size={32} title="HTML5" />
          <Icon name="tech-stack/css3" size={32} title="CSS3" />
          <Icon name="tech-stack/javascript" size={32} title="JavaScript" />
          <Icon name="tech-stack/typescript" size={32} title="TypeScript" />
        </div>
        <div class="mb-1">
          <h3>Backend</h3>
          <Icon name="tech-stack/python" size={32} title="Python" />
          <Icon name="tech-stack/nodejs" size={32} title="Node.js" />
          <Icon name="tech-stack/npm" size={32} title="NPM" />
        </div>
        <div class="mb-1">
          <h3>Management</h3>
          <Icon name="tech-stack/git" size={32} title="Git" />
          <Icon name="tech-stack/jira" size={32} title="Jira" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .section-content-block {
    width: 96%;
    margin: 0 auto;
  }

  .block-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }

  .block {
    background: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 20rem; /* 320px */
    max-height: fit-content;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .entry {
    margin-bottom: 1.5rem;
  }

  .subtitle,
  .date {
    color: #a1a1a1;
    font-size: 0.9rem;
  }
</style>
