---
import { Icon } from "astro-icon/components";
---

<section id="education">
  <div class="flex-row gap-2">
    <div>
      <h2>Education</h2>
      <ul>
        <li class="mt-1">
          <p><strong>Software Engineer</strong></p>
          <p>University of Extremadura</p>
          <p>(Sep 2019 - Jul 2023)</p>
        </li>
        <li class="mt-1">
          <p><strong>Erasmus exchange student</strong></p>
          <p>Høgskulen på Vestlandet</p>
          <p>(Aug 2021 - Jun 2022)</p>
        </li>
      </ul>
    </div>

    <div>
      <h2>Courses</h2>
      <ul class="mt-1">
        <li>
          <strong>Full-Stack Web Development</strong> - Online Platform (Completion
          Year)
        </li>
        <li>
          <strong>Modern React with Redux</strong> - Udemy (Completion Year)
        </li>
        <li>
          <strong>JavaScript Algorithms and Data Structures</strong> - FreeCodeCamp
          (Completion Year)
        </li>
      </ul>

      <h2 class="mt-2">Tech stack</h2>
      <div class="flex-row gap-1">
        <Icon name="html5-icon" width="2rem" height="2rem" />
        <Icon name="css3-icon" width="2rem" height="2rem" />
        <Icon name="javascript-icon" width="2rem" height="2rem" />
        <Icon name="typescript-icon" width="2rem" height="2rem" />
        <Icon name="react-icon" width="2rem" height="2rem" />
        <Icon name="python-icon" width="2rem" height="2rem" />
        <Icon name="nodejs-icon" width="2rem" height="2rem" />
        <Icon name="npm-icon" width="2rem" height="2rem" />
        <Icon name="git-icon" width="2rem" height="2rem" />
        <Icon name="jira-icon" width="2rem" height="2rem" />
      </div>
    </div>
  </div>
</section>
