---
import { Icon } from "astro-icon/components";
---

<section id="experience" class="mb-5">
  <div class="section-content">
    <h1>Work Experience</h1>

    <div class="flex-col gap-1 mt-1 experience-item-container">
      <!-- Mobbeel -->
      <a
        href="https://www.mobbeel.com"
        target="_blank"
        rel="noopener noreferrer"
        class="experience-item"
      >
        <div class="flex-row gap-1">
          <div class="experience-date">Aug 2023 — Aug 2024</div>
          <div class="experience-content">
            <h3 class="job-title">
              Mobbeel Solutions SL
              <Icon class="astro-icon" name="arrow-up-right" size="1.2rem" />
            </h3>
            <ul class="job-description">
              <li>
                Developed web and mobile apps with Angular, React, JSON, and
                REST APIs.
              </li>
              <li>Worked on Android/iOS, testing, and browsers.</li>
              <li>
                Collaborated on a backoffice project and fully designed a web
                app to automate manual processes.
              </li>
              <li>Used Git, Agile (Jira, Trello), and integrated databases.</li>
              <li>Contributed to a facial recognition app with TensorFlow.</li>
            </ul>
            <div class="job-tech-icons">
              <span class="tech-badge">React</span>
              <span class="tech-badge">Angular</span>
              <span class="tech-badge">NPM</span>
              <span class="tech-badge">TypeScript</span>
              <span class="tech-badge">JavaScript</span>
              <span class="tech-badge">HTML5</span>
              <span class="tech-badge">CSS3</span>
            </div>
          </div>
        </div>
      </a>

      <!-- Wa.Works -->
      <a
        href="https://thehub.io/startups/waworks"
        target="_blank"
        rel="noopener noreferrer"
        class="experience-item"
      >
        <div class="flex-row gap-1">
          <div class="experience-date">Nov 2021 — Mar 2023</div>
          <div class="experience-content">
            <h3 class="job-title">
              Wa.Works - Wide Assessment (Bergen, Norway)
              <Icon class="astro-icon" name="arrow-up-right" size="1.2rem" />
            </h3>
            <ul class="job-description">
              <li>Built a KPI dashboard.</li>
              <li>Worked with React Hooks, Redux, and TypeScript.</li>
              <li>Presented our project to the CEO.</li>
              <li>Mentored and supported a teammate.</li>
            </ul>
            <div class="job-tech-icons">
              <span class="tech-badge">React</span>
              <span class="tech-badge">NPM</span>
              <span class="tech-badge">TypeScript</span>
              <span class="tech-badge">HTML5</span>
              <span class="tech-badge">CSS3</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<style>
  .experience-item {
    display: block; /* Ensure the whole item is clickable */
    padding: 1rem 0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.625rem;
    transition: background 0.15s ease-in-out;
  }

  .experience-date {
    min-width: 13rem;
    color: var(--gray-text);
    text-align: right;
    font-size: var(--normal-text)
    padding-right: 0.5rem;
    line-height: 2;
  }

  .experience-content {
    width: 100%;
  }

  .job-title {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .job-description {
    color: var(--gray-text);
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
  }

  .job-tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .tech-badge {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    font-size: var(--small-text);
    font-weight: bold;
    display: inline-block;
    transition: background 0.15s;
    color: var(--primary-color);
  }

  .tech-badge:hover {
    background-color: var(--primary-color);
    color: var(--background-dark);
  }

  .experience-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 0.15s ease-in-out;
  }

  .experience-item:hover .job-title {
    color: var(--primary-color);
    transition: color 0.15s ease-in-out;
  }

  .experience-item:hover .job-title .astro-icon {
    transform: translate(0.3rem, -0.5rem);
    transition: transform 0.15s ease-in-out;
  }

  /* When hovering over an experience item, reduce the opacity of the rest */
  .experience-item-container:has(.experience-item:hover)
    .experience-item:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
  }
</style>
