---

---

<section class="experience">
  <h1>Work Experience</h1>

  <!-- Mobbeel -->
  <div class="job job-left">
    <img
      src="/public/mobbeel-landing-page.jpg"
      alt="Mobbeel"
      class="job-image"
    />
    <div class="job-content">
      <h3 class="job-title">
        <a
          href="https://www.mobbeel.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          Mobbeel Solutions S.L
        </a>
      </h3>
      <p class="job-description">
        Breve descripción de tus responsabilidades y logros en la Empresa 1.
      </p>
      <div class="job-tech-icons">
        <img src="ruta-icono-tecnologia1.png" alt="Tecnología 1" />
        <img src="ruta-icono-tecnologia2.png" alt="Tecnología 2" />
      </div>
    </div>
  </div>

  <!-- Wa.Works -->
  <div class="job job-right">
    <img src="/public/wa-works-logo.jpg" alt="Empresa 2" class="job-image" />
    <div class="job-content">
      <h3 class="job-title">
        <a
          href="https://thehub.io/startups/waworks"
          target="_blank"
          rel="noopener noreferrer"
        >
          Wa.Works - Wide Assessment (Bergen, Norway)
        </a>
      </h3>
      <p class="job-description">
        Breve descripción de tus responsabilidades y logros en la Empresa 2.
      </p>
      <div class="job-tech-icons">
        <img src="ruta-icono-tecnologia3.png" alt="Tecnología 3" />
        <img src="ruta-icono-tecnologia4.png" alt="Tecnología 4" />
        <!-- Añade más íconos según sea necesario -->
      </div>
    </div>
  </div>
</section>
