---
import ProjectsGrid from "./ProjectsGrid.astro";
import { getFeaturedProjects } from "../data/projects";

const featuredProjects = getFeaturedProjects();
---

<section id="featured-projects">
  <ProjectsGrid projects={featuredProjects} />
</section>

<style>
  #featured-projects {
    border-radius: 0 0 2rem 2rem;
    background: var(--background-light);
    position: relative;
    z-index: 5;
    margin-top: 0;
    margin-bottom: -1rem;
    padding: 5rem 0 3rem;
  }

  #featured-projects::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -4rem;
    height: 4rem;
    background: linear-gradient(to bottom, rgba(10, 10, 15, 0), var(--background-light));
    pointer-events: none;
  }
</style>
