---
import ProjectsGrid from "./ProjectsGrid.astro";
import { getFeaturedProjects } from "../data/projects";

const featuredProjects = getFeaturedProjects();
---

<section id="featured-projects">
  <ProjectsGrid projects={featuredProjects} />
</section>

<style>
  #featured-projects {
    border-radius: 0 0 2rem 2rem;
    background: var(--background-light);
    position: relative;
    z-index: 5;
    margin-bottom: -2rem;
    padding: 3rem 0;
  }
</style>
