---

---

<footer>
  <p>Crafted with ❤️ using Astro & TypeScript.</p>
  <p>
    &copy; {new Date().getFullYear()} Rafael Cabanillas Murillo. Todos los derechos
    reservados.
  </p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-dark);
    border-top: 1px solid var(--gray-border);
    font-size: 0.9rem;
    color: var(--gray-text);
  }

  footer p {
    margin: 5px 0;
  }
</style>
