---
import { Icon } from "astro-icon/components";
import { GITHUB_URL, LINKEDIN_URL } from "../consts";
---

<header>
  <!-- Navigation -->
  <nav>
    <ul>
      <li><a href="#about">About me</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#expertise">Expertise</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Social links -->
  <div class="social-links flex-row gap-1">
    <a href={GITHUB_URL} target="_blank">
      <Icon name="github" size={32} aria-label="GitHub profile" />
    </a>
    <a href={LINKEDIN_URL} target="_blank">
      <Icon name="linkedin" size={32} aria-label="LinkedIn profile" />
    </a>
  </div>
</header>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
  }

  nav ul li {
    display: inline;
  }
</style>
