---
import { Icon } from "astro-icon/components";
import { RESUME_URL } from "../consts";
---

<section id="intro" class="mb-2">
  <div class="section-content">
    <div class="flex-row w-100 align-center mt-10">
      <div class="intro-text">
        <p class="big-text">Hi, I'm Rafa 👋</p>
        <p class="title-text gradient-text">Frontend Developer</p>
        <p>Who loves creating web apps.</p>
        <div class="flex-row gap-1 mt-1">
          <a
            class="button-secondary"
            href={RESUME_URL}
            target="_blank"
            rel="noopener noreferrer"
          >
            <span>Resume</span>
            <Icon name="resume" size={24} />
          </a>
          <a class="button-primary" href="#about">
            <span>About me</span>
            <Icon name="arrow-right2" size={24} />
          </a>
        </div>
      </div>
      <img
        src="/rafael-frontend-developer.jpg"
        alt="Rafael Frontend Developer"
        class="profile-image"
      />
    </div>
    <strong class="scroll-indicator">↓ Scroll down</strong>
  </div>
</section>

<style>
  .title-text {
    font-size: 2rem;
    font-weight: var(--font-bold);
    font-family: "Montserrat", sans-serif;
  }

  .gradient-text {
    background: linear-gradient(90deg, #007cf0, #00dfd8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .profile-image {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 0.25rem solid var(--primary-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }

  .scroll-indicator {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    font-size: 1rem;
    text-align: center;
    animation: bounce 1.7s infinite;
    cursor: pointer;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(10px);
    }
  }
</style>
