---

---

<section id="intro" class="mt-5 mb-10">
  <div class="flex-row w-100 align-center">
    <div class="intro-text">
      <p>Hi, I'm Rafa 👋</p>
      <h1>Frontend Developer</h1>
      <p>Who loves creating web apps.</p>
    </div>
    <img
      src="rafael-frontend-developer.jpg"
      alt="Rafael Frontend Developer"
      class="profile-image"
    />
  </div>
</section>
