---
import { Icon } from "astro-icon/components";
import { RESUME_URL } from "../consts";
---

<section id="intro">
  <div class="intro-container">
    <div class="intro-text">
      <p class="big-text">Hi, I'm Rafa 👋</p>
      <p class="title-text gradient-text">Frontend Developer</p>
      <p>Who loves creating web apps.</p>
      <div class="flex-row gap-1 mt-1">
        <a
          class="button-secondary"
          href={RESUME_URL}
          target="_blank"
          rel="noopener noreferrer"
        >
          <span>Resume</span>
          <Icon name="resume" size={24} />
        </a>
        <a class="button-primary" href="#about">
          <span>About me</span>
          <Icon name="arrow-right2" size={24} />
        </a>
      </div>
    </div>
    <img
      src="/rafael-frontend-developer.jpg"
      alt="Rafael Frontend Developer"
      class="profile-image"
    />
  </div>
</section>

<style>
  .intro-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .title-text {
    font-size: 2rem;
    font-weight: var(--font-bold);
    font-family: "Montserrat", sans-serif;
  }

  .gradient-text {
    background: linear-gradient(90deg, #007cf0, #00dfd8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .profile-image {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 0.25rem solid var(--primary-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    display: block;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(10px);
    }
  }

  @media (max-width: 768px) {
    .intro-container {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    .intro-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .profile-image {
      width: 12rem;
      height: 12rem;
    }
  }
</style>
