---
import { Icon } from "astro-icon/components";
---

<section id="projects" class="mb-2">
  <div class="section-content">
    <h1>Projects</h1>

    <div class="flex-row mt-1 mb-1">
      <div class="card">
        <img
          src="auth-screens-react-native-welcome-cropped.jpg"
          alt="Descripción de la imagen"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Auth Screens</h2>
          <p class="card-description">App created with React Native and Expo</p>
          <div class="flex-row gap-1">
            <a
              href="https://github.com/RafaCMur/auth-screens-react-native"
              target="_blank"
              rel="noopener noreferrer"
              class="button-secondary"
            >
              <span>Code</span>
              <Icon name="github" size={24} />
            </a>
            <a
              href="https://drive.google.com/drive/folders/1vd-xsVqwOO-rSTbotLDocccvpFipFFTS?usp=drive_link"
              target="_blank"
              rel="noopener noreferrer"
              class="button-primary"
            >
              <span>Demo</span>
              <Icon name="external-link" size={24} />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="https://fakeimg.pl/600x400/cccccc/0a99ff"
          alt="Descripción de la imagen"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Título del Proyecto</h2>
          <p class="card-description">Breve descripción del proyecto.</p>
          <div class="flex-row gap-1">
            <a href="enlace-al-proyecto" class="button-secondary">
              <span>Code</span>
              <Icon name="github" size={24} />
            </a>
            <a href="enlace-al-repositorio" class="button-primary">
              <span>Demo</span>
              <Icon name="external-link" size={24} />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="https://fakeimg.pl/600x400/cccccc/0a99ff"
          alt="Descripción de la imagen"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Título del Proyecto</h2>
          <p class="card-description">Breve descripción del proyecto.</p>
          <div class="flex-row gap-1">
            <a href="enlace-al-proyecto" class="button-secondary">
              <span>Code</span>
              <Icon name="github" size={24} />
            </a>
            <a href="enlace-al-repositorio" class="button-primary">
              <span>Demo</span>
              <Icon name="external-link" size={24} />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card {
    /* background-color: #112240; */
    /* background-color: #1b3358; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(30, 56, 96, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 18rem; /* 288px */
    margin: 1rem;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-image {
    width: 100%;
  }

  .card-content {
    padding: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.7rem;
  }

  .card-description {
    font-size: 1rem;
    color: #ccd6f6;
    margin-bottom: 1rem;
  }
</style>
