---
import { Icon } from "astro-icon/components";
---

<section id="projects" class="mb-2">
  <div class="section-content">
    <h1>Projects</h1>

    <div class="flex-row mt-1 mb-1">
      <div class="card">
        <img
          src="https://fakeimg.pl/600x400/cccccc/0a99ff"
          alt="Descripción de la imagen"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Título del Proyecto</h2>
          <p class="card-description">Breve descripción del proyecto.</p>
          <div class="flex-row gap-1">
            <a href="enlace-al-proyecto" class="button-secondary">
              <span>Code</span>
              <Icon name="github" size={24} />
            </a>
            <a href="enlace-al-repositorio" class="button-primary">
              <span>Demo</span>
              <Icon name="external-link" size={24} />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="https://fakeimg.pl/600x400/cccccc/0a99ff"
          alt="Descripción de la imagen"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Título del Proyecto</h2>
          <p class="card-description">Breve descripción del proyecto.</p>
          <div class="flex-row gap-1">
            <a href="enlace-al-proyecto" class="button-secondary">
              <span>Code</span>
              <Icon name="github" size={24} />
            </a>
            <a href="enlace-al-repositorio" class="button-primary">
              <span>Demo</span>
              <Icon name="external-link" size={24} />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="https://fakeimg.pl/600x400/cccccc/0a99ff"
          alt="Descripción de la imagen"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Título del Proyecto</h2>
          <p class="card-description">Breve descripción del proyecto.</p>
          <div class="flex-row gap-1">
            <a href="enlace-al-proyecto" class="button-secondary">
              <span>Code</span>
              <Icon name="github" size={24} />
            </a>
            <a href="enlace-al-repositorio" class="button-primary">
              <span>Demo</span>
              <Icon name="external-link" size={24} />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
