---
import { Icon } from "astro-icon/components";
---

<section id="projects">
  <h1>Projects</h1>
  <p>
    Here are some of the projects I've worked on, showcasing my skills in
    frontend development and design.
  </p>

  <div class="card-container">
    <div class="card">
      <img
        src="https://fakeimg.pl/600x400/cccccc/0a99ff"
        alt="Descripción de la imagen"
        class="card-image"
      />
      <div class="card-content">
        <h2 class="card-title">Título del Proyecto</h2>
        <p class="card-description">Breve descripción del proyecto.</p>
        <div class="card-buttons">
          <a href="enlace-al-proyecto" class="card-button-secondary">
            <span>Code</span>
            <Icon name="github" size={24} />
          </a>
          <a href="enlace-al-repositorio" class="card-button-primary">
            <span>Demo</span>
            <Icon name="external-link" size={24} />
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <img
        src="https://fakeimg.pl/600x400/cccccc/0a99ff"
        alt="Descripción de la imagen"
        class="card-image"
      />
      <div class="card-content">
        <h2 class="card-title">Título del Proyecto</h2>
        <p class="card-description">Breve descripción del proyecto.</p>
        <div class="card-buttons">
          <a href="enlace-al-proyecto" class="card-button-secondary">
            <span>Code</span>
            <Icon name="github" size={24} />
          </a>
          <a href="enlace-al-repositorio" class="card-button-primary">
            <span>Demo</span>
            <Icon name="external-link" size={24} />
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <img
        src="https://fakeimg.pl/600x400/cccccc/0a99ff"
        alt="Descripción de la imagen"
        class="card-image"
      />
      <div class="card-content">
        <h2 class="card-title">Título del Proyecto</h2>
        <p class="card-description">Breve descripción del proyecto.</p>
        <div class="card-buttons">
          <a href="enlace-al-proyecto" class="card-button-secondary">
            <span>Code</span>
            <Icon name="github" size={24} />
          </a>
          <a href="enlace-al-repositorio" class="card-button-primary">
            <span>Demo</span>
            <Icon name="external-link" size={24} />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
